// Global settings file. Add your info here!
// Change "settings.js.example" to "settings.js" !!!



//////////////////////
//                  //
//     WEATHER      //
//                  //
//////////////////////

// This is your openweathermap API key! https://openweathermap.org/
var weather_apikey = "YourAPIKey";
// You can use https://www.latlong.net/ to get it!
var weather_latitude = 12.3;
var weather_longitude = 6.7;


//////////////////////
//                  //
//      Tiles       //
//                  //
//////////////////////

var columns = 6; // Has to be an even number! | Default 6


//////////////////////
//                  //
//      LINKS       //
//                  //
//////////////////////

//Links are in this order
// 1    2   3   4   5   6
// 7    8   9   10  11  12
var links = [
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
    "https://example.com/",
];

var icons = [
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",

];


//////////////////////
//                  //
//    WALLPAPERS    //
//                  //
//////////////////////

//Do you want the wallpaper to change based on time? (true / false)
var wallpaper_dynamic = true; 

//This wallpaper will be displayed when "wallpaper_dynamic" is set to false.
var wallpaper_default = "default.jpg"

//These wallpapers will be used when "wallpaper_dynamic" is set to true
var wallpaper_sunrise = "sunrise.jpg";
var wallpaper_day = "day.jpg";
var wallpaper_sunset = "sunset.jpg";
var wallpaper_night = "night.jpg";
