// Global settings file. Add your info here!

// This is your openweathermap API key! https://openweathermap.org/
var weather_apikey = "YourAPIKey";


// You can use https://www.latlong.net/ to get it!
var weather_latitude = 12.3;
var weather_longitude = 6.29;



//Links are in this order
// 1    2   3   4   5   6
// 7    8   9   10  11  12

//Make sure to have exactly 12 elements in each array. You will have to modify the code, in order to get more or less links.

var links = [
    "https://example.com",
    "https://example.com",
    "https://example.com",
    "https://example.com",
    "https://example.com",
    "https://example.com",
    "https://example.com",
    "https://example.com",
    "https://example.com",
    "https://example.com",
    "https://example.com",
    "https://example.com",
];

var icons = [
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png",
    "example.png"
];

//wallpapers
var wallpaper_sunrise = "sunrise.jpg";
var wallpaper_day = "day.jpg";
var wallpaper_sunset = "sunset.jpg";
var wallpaper_night = "night.jpg";
